.Deals {
  position: relative;
  margin-top: 60px;
  background-color: #f6f5f5;
}

.deals-head {
  font-family: "Noto Sans", sans-serif;
  font-size: 25px;
  text-align: center;
  color: rgb(38, 38, 38);
}

.deal-items {
  display: grid;
  padding-bottom: 50px;
  padding-top: 10px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 20px;
  justify-content: center;
}

.card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0;
  margin-top: 15px;
  width: 100%;
}

.card-img {
  cursor: pointer;
  width: 100%;
  height: 300px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  padding: 0px !important;
  transition: all 0.5s;
  border-radius: 12px;
  object-fit: contain;
  transition: all 0.5s;
}

.card-price {
  display: flex;
  position: relative;
  bottom: 18px;
  align-items: center;
}

.card-title {
  margin-top: 15px;
  margin-bottom: 10px;
  font-family: "Noto Sans", sans-serif;
  text-align: left;
  font-size: 16px;
  color: rgb(38, 38, 38);
}

.card-category {
  margin: 0;
  text-transform: uppercase;
  font-weight: 200;
  color: rgb(50, 50, 50);
  font-size: 12px;
}

.mrp {
  margin-left: 8px;
  text-decoration: line-through;
  font-weight: 600;
  color: rgb(72, 72, 72);
}

.price-off {
  margin-left: 8px;
  font-weight: 700;
  color: rgb(172, 0, 0);
}

.discount {
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.view {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  background-color: white;
  text-align: center;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  font-family: "Noto Sans", sans-serif;
  border-radius: 6px;
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
  transition: all 0.18s ease;
}

.view:hover {
  transform: scale(1.06) translate(-50%, -50%);
}

.card-data {
  position: relative;
  text-align: left;
}

.card-img-data:hover .view {
  opacity: 1;
  visibility: visible;
}

.card-img-data:hover .card-img {
  filter: brightness(75%);
}

.card-img-data {
  height: 380px;
  position: relative;
}

.add-list {
  width: 24px;
  position: absolute;
  top: 10px;
  right: 15px;
  transition: all 0.2s ease;
  z-index: 10;
}

.add-list:hover {
  transform: scale(1.16);
}

.add-list:active {
  transform: scale(0.82);
}

.rating-img {
  width: 20px;
}

.rating {
  display: flex;
  align-items: center;
}

.rating-text {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  margin-left: 6px;
}

/* MEDIA QUERIES  */

@media (max-width: 690px) {
  .deal-items {
    padding-right: 22px;
  }
}

@media (max-width: 768px) {
  .deal-items {
    grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));
    grid-gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .card {
    margin-left: 0;
    width: 100%;
    align-items: center;
  }

  .card-img {
    padding: 10px;
    width: 100%;
    max-width: 140px;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: contain;
  }

  .deals-head {
    font-size: 20px;
  }

  .Deals {
    top: 50px;
  }
}